.menu-area {
    position: relative;
    background-color: #212121;
    color: white;
    padding-left: 0;
    width: 100%;
    font-size: 20px;
    opacity: 0.3;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;
    border-bottom: 2px solid white;

    &:hover {
        opacity: 1;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }

    @media screen and (max-width: 766px) {
        opacity: 1;
    }

    .btn:hover {
        color: #ccc;
    }

    ul {
        padding-left: 0;
    }

    .menu {
        list-style-type: none;
        vertical-align: top;

        ul {
            display: inline;
            list-style-type: none;
            padding-left: 0;
        }

        li {
            line-height: 3em;
            cursor: pointer;

            div {
                display: inline-block;
                width: 90%;
                padding-left: 16px;
            }
        }

        .selectable-item:hover {
            background-color: #555;

            @media screen and (min-width: 766px) {
                color: lightsteelblue;
                background-color: none;
                opacity: 0.5;
            }
        }

        .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }   
        
        .menu-icon {
            margin-right: 10px;
        }

        .menu-active-indicator {
            float: right;
            color: white;
            margin-right: 0;
            margin-top: 8px;
            display: inherit;

            @media screen and (min-width: 766px) {
                margin-top: -5px;
            }
        }
    }
}

.menu-area-vertical {
    min-height: 100vh;
    padding-top: 30px;
    z-index: 1;
    position: absolute;

    @media screen and (max-width: 766px) and (min-width: 300px) {
        width: 250px;
        border-right: 2px solid white;
    }
}

.menu-area-horizontal {
    height: 40px;
    text-align: center;
}

.item-horizontal {
    display: inline-block;
    width: 165px !important;
    margin-left: 20px;
    margin-top: 5px;
    line-height: 1.5em !important;
}