.page {
    padding: 20px;

    h2 {
        text-align: center;
        border-bottom: 2px solid white;
        margin-bottom: 20px;
    }
}

.home-page {
    .home-welcome {
        p {
            font-size: 20px;
        }
    }
}

.about-page {

    .about-image-area {
        text-align: center;
    
        .about-image {
            width: 100%;
            //border-radius: 60% 40% 60% 40%;
            -webkit-box-shadow: 3px 3px 5px 6px #ccc;
            -moz-box-shadow: 3px 3px 5px 6px #ccc;
            box-shadow: 3px 3px 5px 6px black; 
        }
    }

    .about-text {
        height: 100%;
        padding-left: 30px;
        font-size: 20px;

        @media screen and (max-width: 766px) {
            margin-top: 40px;
            padding-left: 0;
        }
    }
   
}

.career-page {
    color: black;
    text-align: left;

    @media screen and (max-width: 766px) {
        text-align: center;
    }

    button {
        font-variant: small-caps;
        color: black;
        font-size: 24px;
        text-decoration: underline;
    }

    button.position {
        font-size: 20px;
    }

    .sub-heading {
        padding-left: 28px;
    }

    p {
        padding-left: 12px;
        font-size: 20px;
    }

    span {
        font-size: 20px;
        padding-top: 8px;
    }

    li.listless {
        list-style: none;
    }

    #accordion {
        width: 100%;
    }

    .work-history {
        li {
            margin-left: 2em;
        }
    }

    .date {
        text-align: right !important;

        @media screen and (max-width: 766px) {
            text-align: center !important;
        }
    }
}

.project-page {
    text-align: center;
}

.tile {
    margin: 10px;
    text-align: left;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    .tile-border {
        border: 1px solid white;
        background-color: dimgrey;
        height: 350px;
        overflow: auto;
    }

    a {
        color: white;

        &:hover{
            color: white;
            text-decoration: none;
        }
    }

    @media screen and (max-width: 766px) {
        www-tile {
            width: 100%;
            
        }
        
        width: 100%;
        height: auto;
    }

    .last-modified {
        text-align: right;
    }

    h4 {
        margin-top: 10px;
    }

    .skill-area {
        border-top: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .skills {
        margin: 5px;
        padding: 5px 10px;
        background-color: steelblue;
        border-radius: 10px;
        display: inline-block;
    }
}

.tile-image, .tile-image-placeholder {
    height: 45%;
    width: 100%;
    border-bottom: 2px solid black;

    @media screen and (max-width: 766px) {
        display: none;
    }
}

.tile-image-placeholder {
    background-color: #ccc;
    padding-top: 20px;
    font-size: 24px;
    text-align: center;
}