<div class="title-bar">
    <div class="row">
        <div class="title-area col-9">
            <p class="name-title">{{name}}</p>
            <p class="position-title">{{position}}</p>
        </div>
        <div class="collapsed-menu col-3" ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()">
            <button type="button" class="btn nav-button">
                <i class="fa fa-bars"></i>
            </button>
        </div>
    </div>
</div>
<div ng-show='isLoading' class="loading"><span class="fa fa-spinner"></span></div>
<div ng-transclude ng-show='!isLoading'></div>
<div ng-view class="view" ng-class="{'view-full-width': !isMenuVertical || !isMenuVisible}"></div>
