<div class="title-bar">
    <div class="row">
        <div class="title-area col-9">
            <p class="name-title">{{name}}</p>
            <p class="position-title">{{position}}</p>
        </div>
        <div class="collapsed-menu col-3" ng-if="isMenuButtonVisible" ng-click="menuButtonClicked()">
            <button type="button" class="btn nav-button">
                <i class="fa fa-bars"></i>
            </button>
        </div>
        <!-- <div id="topNav" class="top-nav col-lg-6 col-sm-12">
            
            <a href="">Home</a>
            <a href="">About</a>
            <a href="">Career</a>
            <a href="">Projects</a>
        </div> -->
    </div>
</div>
<div ng-transclude></div>
<div style="position:absolute; left: 220px; top: 200px; color: red; font-size: 44px;">
    {{routeString}}
</div>
