.container-fluid {
    font-family: 'Times New Roman', Times, serif;
    background-color: #303030;
    color: #FFFFFF;
    padding: 0 !important;
}

.title-bar {
    border-bottom: 2px solid white;
    padding: 20px 20px 10px 20px;

    .title-area {
        display: inline-block;

        .name-title {
            font-size: 36px;
            line-height: 5px;
        }

        .position-title {
            font-size: 18px;
        }
    }

    .top-nav {
        display: inline-block;
        text-align: center;
    
        a {
            font-size: 20px;
            color: #FFFFFF;
            margin: 20px;
        }
    }

    .collapsed-menu {
        display: inline-block;
        height: 100%;
    }
    
    .nav-button {
        height: 40px;
        width: 60px;
        margin-top: 10px;
        border: 1px solid white;
        padding: 0;
        font-size: 26px;
        color: white;
        float: right;

        &:hover {
            color: #888;
        }
    }
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    padding-top: 20px;
    border-top: 2px solid white;
    
    h5 {
        font-size: 24px;
    }

    p {
        line-height: 5px;
    }

    .icon-facebook {
        background-color: #3B5998;
    }
    
    .icon-linkedin {
        background-color: #0077b5ff;
    }
    
    .icon-gmail {
        background-color: #D44638;
    }
    
    .icon-facebook, .icon-linkedin, .icon-gmail {
        border-radius: 10%;
    }
}

.title-bar, footer {
    background-color: #212121;
    opacity: 0.3;
    z-index: 0;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;

    &:hover {
        opacity: 1;
        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }

    @media screen and (max-width: 430px) {
        opacity: 1;
    }
}

.side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    padding-top: 60px;
    background-color: black;
    overflow-x: hidden;

    transition: 0.5s;
    -webkit-transition: 0.5s;

    a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: white;
        display: block;

        transition: 0.3s;
        -webkit-transition: 0.3s;
    }
}

.navBtn, .navCloseBtn {
    position: absolute;
    border: 1px solid black;

    cursor: pointer;
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;

    &:hover {
        border: 1px solid lightskyblue;
        opacity: 0.5;

        transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
    }

    &:focus {
        background-color: white;
    }
}

.navBtn {
    background-color: lightgray;
    top: 0;
    right: 0;
}

.navCloseBtn {
    top: 0;
    right: 0;
    background-color: black;
}

.icon-sm {
    width: 50px;
    height: 50px;
}

.icon-xs {
    width: 35px;
    height: 35px;
}


